<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="shell">
  </head>

  <body>
    % if aufs:
    aufs:
    <table>
      <tr><td>attr</td><td>path</td></tr>
      % for i in aufs:
      <tr><td>${i[1]}</td><td>${i[0]}</td></tr>
      % endfor
    </table>
    % endif
    fstab:
    <table>
      <tr>
	<td>source</td><td>target</td><td>filesystem</td><td>options</td>
      </tr>
      % for r in fstab:
      <tr>
	<td>${r[0]}</td><td>${r[1]}</td><td>${r[2]}</td><td>${r[3]}</td>
      </tr>
      % endfor
    </table>
    <ul>
    % for name, vs in sorted(cfg.iteritems(), key=lambda i: i[0]):
      % for v in vs:
        <li>${name}=${v}</li>
      % endfor
    % endfor
    </ul>
  </body>
</html>
