<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="shell">
  </head>

  <body>
    <table>
      <tr>
	<td>source</td><td>target</td><td>filesystem</td><td>options</td>
      </tr>
      % for r in fstab:
      <tr>
	<td>${r[0]}</td><td>${r[1]}</td><td>${r[2]}</td><td>${r[3]}</td>
      </tr>
      % endfor
    </table>
    % for name, vs in cfg.iteritems():
      % for v in vs:
        <ul>${name}=${v}</ul>
      % endfor
    % endfor
  </body>
</html>
