<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
    <html>
    <head>
    <title>home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="shell">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script>
    function readable_size(s){
	if (! s) {
	    return "--"
	}
	s = s / 1024 / 1024;
	return s.toFixed(0)+" MB"
    }
    $(document).ready(function(){
	$.ajax({
	    url: '/list.json',
	    cache: false,
	    dataType: "json",
	    success: function(data){
		$.each(data, function(name, item){
		    newtr = "<tr>";
		    newtr += "<td><a href=\"/info/"+name+"\">"+name+"</a></td>";
		    if (item["state"] == "RUNNING") {
			newtr += "<td><a href=\"/shutdown/"+name+"\">"+item["state"]+"</a></td>";
			newtr += "<td><a href=\"/ps/"+name+"\">"+item["pids"].length+"</a></td>";
			newtr += "<td>"+readable_size(item["cache"])+"</td>";
			newtr += "<td>"+readable_size(item["rss"])+"</td>";
			newtr += "<td>"+item["cpu_usage"]+"</td>";
			newtr += '<td>';
			$.each(item["ipaddr"], function(i, ipaddr){
			    newtr += '<a href="http://'+ipaddr[0]+'/">'+ipaddr[0]+'</a>/'+ipaddr[1];
			});
			newtr += '</td>';
		    } else {
			newtr += "<td><a href=\"/start/"+name+"\">"+item["state"]+"</a></td>";
			newtr += "<td>--</td>";
			newtr += "<td>--</td>";
			newtr += "<td>--</td>";
			newtr += "<td>--</td>";
			newtr += "<td>--</td>";
		    }

		    newtr += "<td><a href=\"/config/"+name+"\">config</a>";
		    if (item['state'] == "RUNNING") {
			newtr += ' <a href="/stop/'+name+'\">stop</a>';
			newtr += ' <a href="/reboot/'+name+'\">reboot</a>';
		    } else if (item['state'] == "STOPPED") {
			newtr += ' <a class="clone" href="'+name+'">clone</a>';
			newtr += ' <a href="/merge/'+name+'">merge</a>';
		    }
		    newtr += ' <a class="clone" mode="fast" href="'+name+'">fast clone</a>';
		    newtr += ' <a href="/destroy/'+name+'">destroy</a>';
		    newtr += ' <a class="run" href="'+name+'">run</a>';
		    newtr += "</td></tr>";
		    $("#vmlist tbody").append(newtr);
		});
		$(".clone").click(function(){
		    if (! $("#container_name").val()) {
			alert("container name is empty");
			return false;
		    } else {
			name = $(this).attr("href");
			url = '/clone/'+name+'/'+$("#container_name").val();
			if ($(this).attr('mode') === "fast") {
				url += '?mode=fast';
			}
			$(this).attr("href", url);
			return true;
		    }
		});
		$(".run").click(function(){
		    if (! $("#command input").val()) {
			alert('command is empty');
			return false;
		    } else {
			name = $(this).attr("href");
			$('#command').attr("action", '/attach/' + name);
			$('#command').submit();
			return false;
		    }
		});
	    },
	});
    });
    </script>
  </head>

  <body>
    <table id="vmlist">
      <thead>
	<tr>
	  <td>name</td><td>status</td><td>processes</td>
	  <td>cache</td><td>rss</td><td>cpu time</td>
	  <td>ipaddr</td><td>config</td>
	</tr>
      </thead>
      <tbody></tbody>
    </table>
    <input type="text" id="container_name"/>
    <form id="command" method="POST">
      <input type="text" name="cmd"/>
    </form>
  </body>
</html>
