<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="shell">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <script>
    $(document).ready(function(){
	p = $(location).attr('href').split('/');
	var name = p[p.length - 1];
	$.ajax({
	    url: '/ps/' + name + '.json',
	    cache: false,
	    dataType: "json",
	    success: function(data){
		$.each(data, function(i, v){
		    newtr = '<tr>';
		    newtr += '<td>' + v[0] + '</td>';
		    newtr += '<td>' + v[1] + '</td>';
		    newtr += '<td>' + v[2] + '</td>';
		    newtr += '<td>' + v[3] + '</td>';
		    newtr += '<td>' + v[4] + '</td>';
		    newtr += '<td>' + v[5] + '</td>';
		    newtr += '<td>' + v[7] + '</td>';
		    newtr += '<td><pre>' + v[10] + '</pre></td>';
		    newtr += '</tr>';
		    $("#pslist tbody").append(newtr);
		});
	    },
	});
    });
    </script>
  </head>

  <body>
    <table id="pslist">
      <thead>
	<tr>
	  <td>user</td><td>pid</td><td>%cpu</td><td>%mem</td>
	  <td>vsz</td><td>rss</td><td>stat</td><td>cmdline</td>
	</tr>
      </thead>
      <tbody></tbody>
    </table>
  </body>
</html>
